.imageBackground {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
}
.imageBackground::before,
.imageBackground::after {
  content: "";
  width: 120%;
  height: 70%;
  position: absolute;
  top: 40%;
  background-color: rgb(28, 34, 39);
}

.imageBackground::before{
    left: 0;
    transform: translateX(-10%) rotate(0deg);
    border-radius: 0 80% 0 0;
}
.imageBackground::after{
    right: 0;
    z-index: -1;
    border-radius: 100%;
    transform: translateX(17%) rotate(172deg);
    background-color: rgba(28, 34, 39, 0.7);
}
