@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.dancing-font {
  font-family: "Dancing Script", cursive, 'Nanum Gothic', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
}

.section-bg {
  background-color: white;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.common-px {
  padding: 0 40px;
}

.animation-project {
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  0%{transform: translate(0,0);}
  50%{transform: translate(30%, 0);}
  100%{transform: translate(0,0);}
}

