@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.dancing-font {
  font-family: "Dancing Script", cursive, 'Nanum Gothic', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
}

